body{
    font-family:Arial, Helvetica, sans-serif!important;
    font-weight: normal;
    /* font-style: italic; */
}
.colors {
    color: #FFFFFF;
    color: #F4F4F4;
    color: #172026;
    color: #172BC4;
    color: #000000;
    color: #A6A6A6;
    color: #080808;
    color: #D1D3D6;
    color: #555555;
    color: #D1D3D6;
    color: #D6D6D6;
    color: #DE2028;
    color: #00000000;
    color: #161615;
    color: #545454;
}

.banner {
   
    background-size:cover;
    /* padding: 190px; */

}
/* h1{
    font-size: 100px;
} */

.bg-menu-3{
    background-color: #F8F8F8;
    background-color: rgba(255,255,255,0.7);
}
.border-another-service{
    border: 1.7px solid #545454!important;

}
.second-title{
    font-weight: 700;
    font-size: 30px;
}
.font-weight-400 {
    font-weight: 400;
}

.logo {
    width: 110px;
    height: 22px;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit; 
    border-style:0px solid !important; 
     border-width: 0;
}
.bg-menu-2{
    background-color: rgba(248,248,248,0.7);
    /* opacity: 0.7; */
}
.bg-menu-1{
    background-color: #D6D6D6!important;
}
nav{
    width: 100%;
}

.box-nav{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
}
nav ul li {
    display: inline;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
    width: 86px;
    font-size: 13px;
    /* background-color: green; */
    text-align: center;
    /* width: 100%; */
}
/*

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.menu {
    background: var(--white) 0% 0% no-repeat padding-box;
    /* background: #F4F4F4 0% 0% no-repeat padding-box; */
    opacity: 0.85;
    border-bottom: 0.1px solid white;
    display: block
}

header{
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    z-index:1;
}
.banner{
    padding: 30px;
    /* padding-top: 70px;
    padding-bottom: 70px; */
    height: 800px;
  
display: flex;
justify-content: center;
align-items: center;
}
section:nth-child(-n+2){
    /* margin-top: 65px!important; */

}
.nav-item  .nav-link{
   font-size: 14px;
}
.mt-p-6{
    margin-top: 7%;
}
.mt-p-5{
    margin-top: 5%!important;
}
._bg-primary {


    background:rgb(16, 167, 214,0.7);
    /* opacity: ; */

}

.w-49{
    width: 49%;
}
._text-color-3 {
    color: #D1D3D6;
}
.btn-1{
    color: #D1D3D6!important;
    width: 133px;
    display: flex;
   padding-top: 4px;
}
a{
    /* text-decoration:none!important; */
}
._roundend-pill {
    border-radius: 28px;
}

._size-btn-1 {
    width: 92px;
    padding: 7px;
}
.btn-1{
    height: 37px;
    font-size: 15px;
    color: #A6A6A6;
    padding-left: 7px;

}
.sub-title{
    font-size: 12px;
    
}
.font-label{
    font-size: 10px;
}
.font-13{
    font-size: 13px;
}
.font-20{
    font-size: 20px;
}
.font-14{
    font-size: 14px;
}
.h-93{
    height: 93%;
}
.bg-another{
    background-color: #F4F4F4;
}
.h-px-10{
    height: 10px!important;

}
._text-btn {
    font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-15)/16px var(--unnamed-font-family-helvetica-now-display);
    color: var(--white);
    text-align: center;
    ;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    text-transform: uppercase;

}

._text-btn-size-1 {
    font-size: 12px;

}

.menu-container {
    width: 84%;
    margin: 0 auto;
    padding: 12px;
    display: block
}

.menu-container::after,
.menu-container::before {
    content: '';
    display: table;
    clear: both;
}

/* .nav-menu::after,
.nav-menu::before {
    content: '';
    display: table;
    clear: both;
}

nav { */

    /* width: 80%!important; */
    /* float: right; */
    /* background-color: yellow; */
    /* height: 100%; */
/* } */
/* nav ul li a{
    color: #707070;
} */
/* 


nav ul li{
 
    display: flex;
    justify-content: center;
    width: 20%;
    padding:0%;
    
} */
.box-72 nav{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
nav .navbar-collapse{
    display: flex ;
    justify-content: end;
    /* background-color: yellow; */
}
nav .navbar-nav ul{
    background-color: red!important;
}

nav ul li:nth-child(n + 2)  {
    margin-left: 4px;
 
}
nav ul li:nth-child(n + 3)  {
    margin-left: 4px;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.banner a {

    display: block;
    /* width: 20%; */
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    
}
.banner p{
 text-align: center;
 /* color: white; */
}
.title-banner{
    font-size: 55px;
    line-height: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
.sub-title-banner{
    font-size: 27px;  

}
.iva-sub-title-banner{
    color: #D1D3D6;
    font-size: 23px;  
    line-height: 2px;
    font-weight: 100;
}
.know-more
h6{
    font-size:500px ;
}
a{
    text-decoration: none!important;
}
.know-more-banner{
    font-weight: 200; 
    color: white;
      
}
.banner h1 {

    display: block;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

.banner {
    /* padding-top: 190px;
    padding-bottom: 190px; */
    /* background-color: gray; */


}

.banner h6 {
    margin-top: 20px;
}

.btn-comprar {
    width: 120px;
    font-size: 15px;
    padding: 3px;
    margin-top: 4px;
}

.saber-mais {
    font-size: 13px;
}
.know-more-banner{
    font-size: 17px;  
    color: #D1D3D6;
    
}
.icon-whatsap {

    width: 30px !important;
    height: 30px !important;
    margin-right: 200px !important;

}
.w-45{
    width: 45%;
}

.arte {
    /* float: left; */
    background-color: #000000;
    height: 520px;
   
    /* margin: 1px; */
    background-color: white;
    padding-left:    2px!important;
    padding-top:    4px;
    /* border: 1px solid red; */
    padding-right:    2px!important;
    width: 66%;
    /* min-width: 1000px; */
    /* width: 500px; */
    /* display: inline-block; */
    /* display: flex;
    align-items: flex-end; */

    /* margin-top: 36px; */

}

.mt-102{
    margin-top: 102px;
}

.btn-format {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: #707070;
    text-align: center;
}

.fomarts a:nth-child(n + 2) {
    margin-left: 9px;

}

._button-service {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000000;
    border: 1px solid #91959C;
    color: #545454;
    font-size: 19px;
    height: 26px;
    text-align: center;
    margin-top: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.border-form {
    border: 1px solid #91959C;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }
  .pl-30 {
	padding-left: 30px;
}
.pl-35 {
	padding-left: 35px;
}
.pl-40 {
	padding-left: 40px;
}
.pl-45 {
	padding-left: 45px;
}
.pl-50 {
	padding-left: 50px;
}
.pl-55 {
	padding-left: 55px;
}
.pl-60 {
	padding-left: 60px;
}
.pl-65 {
	padding-left: 65px;
}
.pl-70 {
	padding-left: 70px;
}
.pl-75 {
	padding-left: 75px;
}
.pl-80 {
	padding-left: 80px;
}
.pl-85 {
	padding-left: 85px;
}
.pl-90 {
	padding-left: 90px;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }
.font-18{
    font-size:18px ;
    
}
.p-2-p-5{
padding: 2.5%;
}
.text-black{
    color:black;
}
.mt--35{
    margin-top: -35px;
}
.font-16{
    font-size:16px ;
}
.font-14{
    font-size: 14px;
   
}
.font-25{
    font-size: 25px;
}
.font-44{
    font-size: 44px;
}
.font-21{
    font-size: 21px;
}
.h-18{
    height: 18%!important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }
  .ml-3,
  .mx-3 {
    margin-left: 1rem !important; }
    .ml-px-16{
    
        margin-left: 16px;
    
        }
.service {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box-75{
    width: 75%;
}
.box-65 {
    width: 65%;
}

.box-35 {
    width: 35%;
}
.box-72 {
    width: 72%;
}
.box-77 {
    width: 77%;
}
.box-80 {
    width: 80%;
}
.box-82 {
    width: 82%;
}
.box-84 {
    width: 84%;
}

.w-line-div {
    width: 60%;
}

._another-service {
    margin-top: 1.6rem !important;
    background-color: #F8F8F8;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    /* margin-top: 12px; */
    top: 521px;
}

.flickity-page-dots .dot {

    width: 6px !important;
    height: 6px !important;

}
.mb-1-5{
    margin-bottom: 1.5rem!important;
}
.ttl-product-cart{
    position: relative;
    top: -33px;
    color: #DE2028;
    }
/* .arte1,
.arte2,
.arte3 {

    margin: 2px;
} */
.product div img {
    width: 100%;

    height: 100%;

}
.product{
    height: 760px;
}
.artes .arte div img {
    width: 100%;

    height: 100%;
    border: 0.5px solid #C6C6C6;
}

.social-media-whatsap {
    position: fixed;
    right: 0;
    top: 85%;
    width: 8em;
    margin-top: -2.5em;
}

/* .artes .arte div{
  
} */
.svg-whatsap {
    height: 40px;
    position: fixed;
    right: 0;
    top: 88%;
    width: 8em;

    margin-top: -2.5em;
    right: 201px;
}

.info-arte {
    margin-top: -177px;
    z-index: 1;

}
.info-arte p{
    font-size: 33px;
    line-height: 20px;
}
.info-arte-sub-title{
    font-size: 25px!important;
color: white;
/* line-height: 20px; */

} 
.know-more-info{
    font-size: 13px;
    color: #D1D3D6;
    padding-left: 20px;
}

.img-another-service {
    width: 74px;
    height: 74px;
}
.mt-2--5{
    margin-top: 2.5rem;
    
}
.service-meta-info {
   
    font-size: 12px;
    color: #91959C;

}

.titulo-another-service {
    font-size: 18px;
    font-weight: 700;
}

.sub-titulo-another-service {
    font-size: 14px;
    font-weight: 900;
}

.artes::before,
.artes::after {
    content: '';
    display: table;
    clear: both;
}

.another-service-box {
    width: 230px;

}
#boxFullScreemImg {
    display: none;
    position: absolute;
    z-index: 9999;  
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;

}

#full {
    /* display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0; */
    width: 100%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;

}

#boxFullScreemImg {
    /* background-color: red!important; */
    background-color: black;
    /* padding: 10%; */
    width: 100%;
}

#closeFullScreemImg {
    /* float: right;
    margin-right: 30px; */
    color: white;
    cursor: pointer;
    margin-right: 30px;
}

#box-full-screem-img {}



#full {
    /* width: 50%;
height: 200px; */

}

.full-action {

    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding-right: 10px; */

}
/* ._quadro-img{
    width: 100%;
    height: 100%;
} */
.info-arte {

    margin-left: 50px;
    width: 80%;

    display: block;
}

.acoes-info-artes .saber-mais {

    margin-left: 13px;
    font-size: 11px;
}


.service-box {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 1px;
    margin-right: 21px;
    display: inline-block;
}

.box-64 {
    width: 64%;
}
.box-75{
    width: 75%;
}

.box-67 {
    width: 67%;
}


.carrinho {
    margin-left: 150px;
    width: 75%;
}

.bg-1 {
    background-color: #D1D3D6;
}

._bg-btn-1 {
    background-color: #DE2028;

    font-size: 10px;



}

.box-meta-info-service ul {
    list-style: none;
}

.box-meta-info-service ul li {


    color: var(--white);
    text-align: left;
    color: #555555;
    letter-spacing: 0px;

    text-transform: uppercase;
    opacity: 1;

}
.another-service-box ul li a{
    color: #C6C6C6!important;
    font-size: 16px;
    opacity: 0.8;
}
.box-meta-info-service ul li a {
    color: #555555;
}

a {
    text-decoration: none;
}

.another-service-box ul li a:nth-child(n + 2) {
    margin-left: 7px;

}
.w-71{
    width: 70%;
}
.no-rodape {

   width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

}

.carrinho-footer .box-82 .another-service-box:nth-child(n + 2) {
    /* background-color: yellow; */
    margin-left: 20px;
}

.carrinho .box-meta-info-service ul li:nth-child(n + 2) {
    margin-left: 30px;
    /* color: red; */

}

.carrinho .box-meta-info-service ul li a:nth-child(n + 1) {


    color: #A6A6A6;

}

.box-meta-info-service ul li a i {
    font-size: 13px;

}

.w-line-div-1 {}

ul {
    list-style: none !important;
}

.size-text-13 {
    font-size: 13px;
}

.size-text-9 {
    font-size: 9px;
}

.communicate-part-1 {
    width: 40%;
    font-weight: 400;
    /* padding-left: 16px !important; */
}
.communicate-part-2 button{
    font-size: 20px;
    width: 30px;
}
.communicate-part-2 input{
padding-bottom: 17px;
color: black;
padding-top: 17px;
}
.mt--65{
    margin-top: 65px!important;
}
.detalhes {
    padding-left: 20px;

    padding-right: 20px;

}


.text-right {
    text-align: right;
}

.title-detalhes {
    font-size: 25px;
    font-weight: 700;
}

.communicate-part-2 {
    width: 60%;
}

.form-component {
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.box-70 {
    width: 70%;
}

.box-30 {
    width: 30%;
}

.size-text-14 {
    font-size: 14px;
}

.w-form-component-1 {
    width: 140px;
}

.footer {
    background-color: #000000;
}

footer div ul li img {
    width: 56px;
    height: 15px;



}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 0px !important;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody,
td,
tfoot,
th,
thead,
tr {
    /* border-color: inherit; */
    border-style: solid !important;
    /* border-width: 0; */

}

.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}

thead tr th {
    font-size: 17px;
    font-weight: 800;
    border-top: #F4F4F4 1px solid;
    /* border-top: 1 solid yellow; */
}
tbody tr td{
    font-size: 21px;
    font-weight: 400;
}

tbody tr {
    border-top: #F4F4F4 1px solid;
    background-color: #F4F4F4;
}

html,
body {
    overflow-x: hidden !important;
}

.bg-color-1 {
    background-color: #F4F4F4
}

.btn-blue {
    background-color: #172BC4;
}

tr td {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.carrinho table tbody tr {
    border-top: #F4F4F4 1px solid;
    background-color: #F4F4F4;

}

.img-table-item {
    width: 105px;
    height: 65px;
}
.box-total h5{
    font-size: 30px;
    font-weight: 700;
    
}

.p-0 {
    padding: 0 !important;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.w-22 {
    width: 22%;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

/* tr{
    text-align: right!important;
} */
.mt-p-4{
    margin-top: 4%!important;
} 
